body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
.arabic{
    direction: rtl;
    font-family: adobe naskh medium;
    font-size:20px;
    
}
body{
    
    padding: 0px;
    margin: 0;
}
h1{
    padding-right: 16px;
    font-size: 40px !important;
}

.my-light-gray{
    background-color:#d6d6d6;
   
}
.my-fir-container{
    color: #1c2f81;
   
    margin:0 16px;
    position: relative;
    box-sizing: border-box;
}



#card{
    margin: 0px;
}
.tyara{
   
    position: absolute;
    bottom: 4px;
    width: 100%;
    /*width:95.5%;*/
    background-color: rgb(256,256,256,0.5);
    
}

.my-padding-16{
    padding: 16px;
}
.my-BottomBar{
    border-bottom: 10px #ccc solid;
}
.my-button{
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    text-align: center;
    cursor:pointer;
    border: none;
    margin-right: 2px;
    margin-left: 2px;
    text-decoration: none;
}
.my-button:hover{color:#000!important;
    background-color:#ccc!important}
.my-padding-8{
    padding-right:  8px;
    
}

.my-third{
     
    float: left;
    width: 33.3% !important;
    box-sizing: border-box;
   
    padding-bottom: 16px;  
    
}
.new,.new>.my-third{
    padding: 8px 8px;
}

.my-card{
   
    background-color: white;
    
}
.sec{
    margin-right: 16px;
}
.my-hover:hover{
    opacity:0.5;
    cursor: pointer;
}

@media screen and (max-width:800px){
    .my-third{
        width: 100% !important;
        float: left;
    }
    h1{
    padding-right: 8px;
    font-size: 15px !important;
}
    .sec{
        margin-right: 8px;
    }
    
    
    .my-neg-rel-margin{
    margin-top:0px;
}
    #plants{
       
    margin-top:-100px;

    }
    .my-padding-16{
        padding: 4px;
        
    }
    .tyara{
        position: relative;
    bottom: 88px;
    
    /*width:95.5%;*/
   
    }
    .my-button{
    display: inline-block;
    padding: 4px 8px;
    vertical-align: middle;
    text-align: center;
    cursor:pointer;
    border: none;
    margin-right: 2px;
    margin-left: 2px;
    text-decoration: none;
}
    .arabic{
        font-size: 8px;
    }
}